body {
  color: black !important;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    font-weight: revert!important;
    color: #9A0189!important;
}

@import "{{ site.theme }}";

.page-header {
  background-color: #9A0189;
  background-image: linear-gradient(120deg, #9A0189, #ffa7f5);
}

.highlight .err {
  color: inherit;
  background-color: inherit;
}

.site-footer {
  text-align: center;
}
